<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>dangki</servlet-name>
        <servlet-class>controller.dangki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trangchu</servlet-name>
        <servlet-class>controller.trangchu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangnhap</servlet-name>
        <servlet-class>controller.dangnhap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dangki</servlet-name>
        <url-pattern>/dangki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trangchu</servlet-name>
        <url-pattern>/trangchu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangnhap</servlet-name>
        <url-pattern>/dangnhap</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
