<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>trangchu</servlet-name>
        <servlet-class>controller.trangchu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangnhap</servlet-name>
        <servlet-class>controller.dangnhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangky</servlet-name>
        <servlet-class>controller.dangky</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimKiem</servlet-name>
        <servlet-class>controller.TimKiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangxuat</servlet-name>
        <servlet-class>controller.dangxuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trangchitiet</servlet-name>
        <servlet-class>controller.trangchitiet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themvaogiohang</servlet-name>
        <servlet-class>controller.giohang.themvaogiohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>giohang</servlet-name>
        <servlet-class>controller.giohang.giohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capnhatgiohang</servlet-name>
        <servlet-class>controller.giohang.capnhatgiohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoagiohang</servlet-name>
        <servlet-class>controller.giohang.xoagiohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lienhe</servlet-name>
        <servlet-class>controller.lienhe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToan</servlet-name>
        <servlet-class>controller.ThanhToan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatbox</servlet-name>
        <servlet-class>controller.chatbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>controller.admin.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanlysanpham</servlet-name>
        <servlet-class>controller.admin.quanlysanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themsp</servlet-name>
        <servlet-class>controller.admin.themsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suasp</servlet-name>
        <servlet-class>controller.admin.suasp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoasap</servlet-name>
        <servlet-class>controller.admin.xoasap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chitietdonhang</servlet-name>
        <servlet-class>controller.admin.chitietdonhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanlyuser</servlet-name>
        <servlet-class>controller.admin.quanlyuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suauser</servlet-name>
        <servlet-class>controller.admin.suauser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capnhatuser</servlet-name>
        <servlet-class>controller.admin.capnhatuser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trangchu</servlet-name>
        <url-pattern>/trangchu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangnhap</servlet-name>
        <url-pattern>/dangnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangky</servlet-name>
        <url-pattern>/dangky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimKiem</servlet-name>
        <url-pattern>/TimKiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangxuat</servlet-name>
        <url-pattern>/dangxuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trangchitiet</servlet-name>
        <url-pattern>/trangchitiet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themvaogiohang</servlet-name>
        <url-pattern>/themvaogiohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>giohang</servlet-name>
        <url-pattern>/giohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capnhatgiohang</servlet-name>
        <url-pattern>/capnhatgiohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoagiohang</servlet-name>
        <url-pattern>/xoagiohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lienhe</servlet-name>
        <url-pattern>/lienhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToan</servlet-name>
        <url-pattern>/ThanhToan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatbox</servlet-name>
        <url-pattern>/chatbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanlysanpham</servlet-name>
        <url-pattern>/quanlysanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themsp</servlet-name>
        <url-pattern>/themsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suasp</servlet-name>
        <url-pattern>/suasp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoasap</servlet-name>
        <url-pattern>/xoasap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chitietdonhang</servlet-name>
        <url-pattern>/chitietdonhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanlyuser</servlet-name>
        <url-pattern>/quanlyuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suauser</servlet-name>
        <url-pattern>/suauser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capnhatuser</servlet-name>
        <url-pattern>/capnhatuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>trangchu</welcome-file>
    </welcome-file-list>
</web-app>
